:root {
    --main-background: hsl(233, 47%, 7%);
    --card-background: hsl(244, 38%, 16%);
    --span: hsl(277, 64%, 61%);
    --main-heading: hsl(0, 0%, 100%);
    --main-paragraph: hsla(0, 0%, 100%, 0.75);
    --stat-headings: hsla(0, 0%, 100%, 0.6);
}


/* font-family: 'Inter', sans-serif;

font-family: 'Lexend Deca', sans-serif; */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    margin: 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: var(--main-heading);
}

.attribution a {
    color: var(--main-heading);
}

body {
    background-color: var(--main-background);
}

.wrapper {
    width: 90%;
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
}

.top {
    width: 100%;
    position: relative;
}

.empty {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: hsla(277, 63%, 25%, 0.479);
    z-index: 1;
    border-radius: 5px 5px 0 0;
}

.image {
    position: relative;
    display: none;
}

.mob-image {
    border-radius: 5px 5px 0 0;
    position: relative;
}

.card {
    background-color: var(--card-background);
    border-radius: 0 0 5px 5px;
    padding: 2em;
}

.header {
    color: var(--main-heading);
    font-family: 'Inter', sans-serif;
    font-size: 0.875rem;
}

span {
    color: var(--span);
}

.para {
    color: var(--main-paragraph);
    padding: 2em 1em;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
}

.stat-heading {
    color: var(--main-heading);
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
}

.stat-para {
    color: var(--main-paragraph);
    text-transform: uppercase;
    font-size: 0.6rem;
    padding-top: 0.9em;
    font-family: 'Lexend Deca', sans-serif;
}

.stat-div {
    padding: 0.875em 0;
}

@media (min-width:720px) {
    .container {
        width: 100vw;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main {
        width: 100vw;
        /* min-height: 100vh; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .wrapper {
        display: flex;
        flex-direction: row-reverse;
        max-height: 370px;
        max-width: 900px;
        text-align: left;
    }
    .top {
        width: 100%;
        position: relative;
    }
    .image {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 0 5px 5px 0;
        position: relative;
    }
    .mob-image {
        display: none;
    }
    .empty {
        height: 100%;
        width: 100%;
        position: absolute;
        background-color: hsla(277, 63%, 25%, 0.479);
        z-index: 1;
        border-radius: 0 5px 5px 0;
    }
    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-radius: 5px 0 0 5px;
        padding-left: 3em;
        padding-right: 6em;
    }
    .stat {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .para {
        padding: 2em 0;
    }
}